<div class= "center hero-unit">
 <h1>Welcome to Career Journal</h1>
 <h2>
 	This is the home page for Career Journal 
 </h2>
 <%= link_to "Sign up now!", signup_path, :class=> "btn-large " %>
 </div>
 
 <%= link_to image_tag("rails.png", :alt=> "Rails"), '#'%>
